.input-block {
  box-sizing: border-box;
  margin-bottom: 50px;
}
.input {
  box-sizing: border-box;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 13px;

  color: #444;
  border: none;
  border-bottom: 1px solid lightgrey;
  background-color: #fff;

  font-size: 18px;
}

.input::placeholder {
  color: #444;

  font-family: Lato;
}

.input:focus {
  outline: none;
}

@media screen and (max-width: 1080px) {
  .input-block {
    margin-bottom: 20px;
  }
}
