.error {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
}

.error__title {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.error__img {
  max-width: 400px;
  max-height: 400px;
}

@media screen and (max-width: 800px) {
  .error {
    flex-direction: column;
  }
  .error__img {
    max-width: 250px;
  }
}
