.board {
  display: flex;

  width: 100%;
  height: 100vh;

  justify-content: center;
  align-items: center;
  align-content: center;
}

.board__wrapper {
  position: absolute;

  display: block;

  width: 100%;
}

.board__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: row;

  margin: 0 auto;

  justify-content: center;
}

.board .header .header__container {
  max-width: 0;
}

.login-page--board {
  align-self: center;
}
/* Trello Cards Item Quantity */
.sc-gzVnrw.dZkyH span {
  display: none;
}

/* Trello Add Card Button */
.sc-jzJRlG.BFmJH {
  display: block;

  width: 89.3%;

  background-color: #e3e3e3;
}
/* Trello Delete Card Img */
.sc-kpOJdX.ejXrMv {
  width: 12px;
  height: 12px;
}

.sc-kpOJdX.ejXrMv {
  top: 8px;
  right: 5px;
}

.sc-kpOJdX.ejXrMv {
  border: 1px solid #444;
  background-color: #444;
}
/* Trello Column  */
.bsakmj {
  max-height: 73vh !important;
}
/* Trello Salary Text */
.sc-gqjmRU.ejFyfB.sc-gzVnrw.dZkyH {
  font-size: 12px;
}
/* Trello Board Main Block */
.sc-bdVaJa.eVDmWl {
  position: relative;
  z-index: 50;
  bottom: -20px;

  width: -webkit-fill-available;
  width: -moz-available;
  height: auto;
  margin-bottom: 58px;
  padding-top: 40px;
  padding-left: 20px;

  background-color: #669999;
}
/* Trello Boad Add Coloumn button */
.ehYibH {
  margin-left: 13px;
}

@media screen and (max-height: 630px) {
  /* Trello Column */
  .bsakmj {
    max-height: 50vh !important;
  }
}
