.reg-form {
  color: #56687b;
  min-width: 350px;
}

.reg-form__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.reg-form__sumbit {
  background: #1FCE6D;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 20px;
}

.reg-form__checkbox {
  margin-top: 40px;
  font-size: 16px;
}

.reg-form__forgot {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  color: #56687b;
  transition: all 0.1s linear;
}

.reg-form__forgot:hover {
  color: #a299b4;
}
