.log-form {
  box-sizing: border-box;
  box-sizing: border-box;
  min-width: 330px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  color: #56687b;

}

.log-form__title {
  margin-bottom: 40px;

  text-align: center;

  font-size: 40px;
}

.log-form__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.log-form__input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #435160;
  background-color: #2E3740;
  padding: 20px 0px;
  color: #56687b;
  font-size: 18px;
}

.log-form__sumbit {
  margin-top: 40px;
  width: 330px;
  height: 40px;
  border: 0;
  border-radius: 3px;
  background: #1FCE6D;

  cursor: pointer;

  color: #fff;

  font-size: 12px;
  font-size: 20px;
}

.log-form__checkbox {
  margin-top: 40px;

  font-size: 16px;
}

.log-form__forgot {
  display: block;

  margin-top: 20px;

  transition: color 0.1s linear;
  text-align: center;

  color: #56687b;

  font-size: 20px;
}

.log-form__forgot:hover {
  color: #a299b4;
}