.ui.selection.dropdown {
  color: #444;
  border: none;
  border-bottom: 1px solid lightgrey !important;
  border-radius: 0px;
  background-color: #fff;

  font-family: Lato;
}

.ui.selection.dropdown:hover {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 0px;
}

.ui.selection.dropdown:hover {
  border-bottom: 1px solid lightgrey;
}

.ui.active.visible.fluid.selection.dropdown:hover {
  border: none;
  border-bottom: 1px solid lightgrey;
}

.ui.active.selection.dropdown {
  box-shadow: none;
}

.ui.dropdown .menu {
  box-shadow: none;
}

.ui.selection.active.dropdown .menu {
  border-left: none;
  border-right: none;
  border-radius: 0px;
  box-shadow: none;
}

.filters #select.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
  color: #444 !important;
}

.ui.selection.active.dropdown:hover {
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.ui.selection.active.dropdown:hover .menu {
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.ui.dropdown>.text {
  font-size: 18px;
}

.ui.dropdown .menu>.item {
  font-size: 18px;
}

.filters .ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon {
  top: 18px;
}

.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
  color: #444;
}
