.card {
  position: relative;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;

  letter-spacing: 1px;

  color: #2e2e2e;
  border-bottom: 1px solid lightgrey;
  background-color: #fff;

  font-family: Lato;

  justify-content: flex-start;
}

.card:nth-child(2) {
  border-top: 1px solid lightgrey;
}

.card__img-block {
  display: flex;

  width: 32px;
  height: 32px;
  margin-top: 5px;
  margin-right: 20px;
  padding: 25px;

  color: #fff;
  border-radius: 50%;
  background-color:  #a299b4;

  font-size: 24px;

  align-items: center;
  justify-content: center;
}

.card__position-company-block {
  flex: 3;
}

.card__salary-status-block {
  display: flex;
  flex-direction: column;

  flex: 1;
  justify-content: flex-start;
  align-items: flex-end;
}

.card__position {
  margin-top: 0;

  text-transform: uppercase;

  font-size: 20px;
}

.card__link {
  transition: color 0.1s linear;
  text-decoration: none;

  color: #444;
}

.card__link--position {
  font-size: 22px;
}

.card__link--company {
  font-size: 18px;
}

.card__link:hover {
  color: #a299b4;
}

.card__company {
  margin-bottom: 0;
}

.card__status {
  margin-bottom: 0;

  font-size: 18px;
}

.card__salary {
  font-size: 22px;
}

.card__salary-block {
  margin-top: 3.5px;
}

@media screen and (max-width: 800px) {
  .card {
    padding-right: 10px;
    padding-left: 10px;
  }
  .card__link--position {
    font-size: 20px;
  }

  .card__salary {
    font-size: 18px;
  }
}

@media screen and (max-width: 540px) {
  .card {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card__position {
    margin-bottom: 7px;

    font-size: 18px;
  }

  .card__salary {
    display: none;
  }

  .card__img-block {
    padding: 20px;
  }
}
