.navigation__link {
  position: relative;

  min-height: 20px;
  margin-left: 20px;
  padding-right: 20px;
  padding-left: 15px;

  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #fff;

  font-size: 12px;
  font-size: 18px;

  flex: 1;
}

.navigation__list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding-left: 0;
}

.navigation__list-item {
  position: relative;

  list-style: none;
}

.navigation__list-item--user {
  width: 100px;
  position: relative;
}

.userImg {
  position: absolute;
  left: -4px;
  top: -2px;
}

.ui.button {
  margin: 0;
  padding: 0;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #fff;
  background-color: transparent !important;

  font-family: Lato !important;
  font-size: 18px;
  font-weight: 400;
}

.ui.button:focus {
  color: #fff;
}

.ui.button.nav-link {
  position: absolute;
  top: 1.2px;
  left: 0px;

  padding-left: 25px;
}

.ui.button:hover {
  color: #fff !important;
}

.ui.button.logoutButton {
  color: #444;
  letter-spacing: normal;
  text-transform: none;
  padding-left: 30px;
}

.ui.button.logoutButton:hover {
  color: #444 !important;
}

.logoutImg {
  position: absolute;
}

.nav-link--popup {

}

.navigation__link--user {
  min-width: 70px;

  flex: 1;
}

.navigation__img {
  position: absolute;
  bottom: 0px;
  left: -13px;
}

.navigation__img--chart {
  bottom: 2px;
}

@media screen and (max-width: 640px) {
  .navigation__text {
    display: none;
  }

  .navigation__link--user {
    min-width: 20px;
    margin-right: 0;
    width: 45px;
  }

  .navigation__list-item--user {
    width: 45px;
  }

  .ui.button.nav-link {
    opacity: 0;
  }

  .userImg {
    left: 9px;
  }
}
