.checkbox-label {
  position: relative;

  display: block;

  padding-left: 35px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;

   font-size: 20px;
   outline: none;
}

.checkbox-input[type="checkbox"]:focus + checkbox-label::before {
  outline: none;
}

.checkbox-label input {
  position: absolute;

  width: 0;
  height: 0;

  cursor: pointer;

  opacity: 0;

  outline: none;
}

input[type="checkbox"]{
        display: none;
    }

.checkmark {
  position: absolute;
  top: -2px;
  left: 0;

  width: 25px;
  height: 25px;

  border-radius: 50%;
}

.checkmark--log-reg {
  background-color: #435160;
}

.checkbox-label:hover input ~ .checkmark--log-reg {
  background-color: #435160;
}

.checkbox-label input:checked ~ .checkmark--log-reg {
  background-color: #435160;
  outline: none;
}

.checkmark:after {
  position: absolute;

  display: none;

  content: "";
}

.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  top: 9px;
  left: 9px;

  width: 8px;
  height: 8px;

  border-radius: 50%;
}

.checkbox-label .checkmark--log-reg:after {
  background: #2E3740;
}
