.reg-form__checkbox-label {
  position: relative;

  display: block;

  padding-left: 35px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size: 20px;
}

.reg-form__checkbox-label input {
  position: absolute;

  width: 0;
  height: 0;

  cursor: pointer;

  opacity: 0;
}

.reg-form__checkmark {
  position: absolute;
  top: -2px;
  left: 0;

  width: 25px;
  height: 25px;

  border-radius: 50%;
  background-color: #435160;
}

.reg-form__checkbox-label:hover input ~ .reg-form__checkmark {
  background-color: #435160;
}

.reg-form__checkbox-label input:checked ~ .reg-form__checkmark {
  background-color: #435160;
}

.reg-form__checkmark:after {
  position: absolute;

  display: none;

  content: "";
}

.reg-form__checkbox-label input:checked ~ .reg-form__checkmark:after {
  display: block;
}

.reg-form__checkbox-label .reg-form__checkmark:after {
  top: 9px;
  left: 9px;

  width: 8px;
  height: 8px;

  border-radius: 50%;
  background: #2E3740;
}
