.chart {
  position: relative;
  top: -55px;

  display: flex;
  flex-direction: column;

  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left:40px;

  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

  justify-content: flex-start;
  align-items: center;
  flex: 3;
}

.chart__title {
  position: absolute;
  top: -95px;
  left: 40px;

  margin: 0;

  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #fff;

  font-family: Lato;
  font-size: 50px;
}

@media screen and (min-width: 800px) {
  .chart {
    padding-right: 40px;
    padding-left: 40px;
  }
}
