.chart {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 90px;
  padding-left: 120px;

  border-right: 1px solid rgb(236, 233, 242);
  background-color: #fff;

  justify-content: flex-start;
  align-items: center;
  flex: 2;
}

.chart__title {
  position: absolute;
  left: 120px;
  top: -100px;
  margin: 0;

  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #fff;

  font-family: Lato;
  font-size: 50px;
}
