.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  min-height: 100%;
  width: 100%;
  padding-top: 200px;
  background-color: grey;
  background-image: url('../img/laptop.jpg');
  background-size: auto;
  background-attachment: fixed;
}
