.header {
  position: fixed;
  z-index: 99;

  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: rgb(24, 0, 69);
}

.header__container {
  display: flex;
  flex-direction: row;

  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  justify-content: space-around;
}

.header__logo {
  flex: 1;
}
.header__link {
  position: relative;

  padding-left: 15px;

  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #fff;

  font-size: 12px;
  font-size: 18px;

}
