.conditions {
  width: 100%;
}

.conditions__title {
  width: 100%;
  margin-bottom: 30px;
}

.conditions__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-between;
  width: 100%
}

@media screen and (max-width: 400px) {
  .conditions__list {
    /* flex-direction: column; */
  }
}
