.conditions__list-item {
  list-style: none;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 250px;
  padding: 15px;
}

@media screen and (max-width: 800px) {
  .conditions__list-item {
    min-width: 100%;
  }
}
