.navigation__link {
  position: relative;

  padding-left: 15px;
  padding-right: 20px;

  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #fff;

  font-size: 12px;
  font-size: 18px;

  flex: 1;
}

.navigation__list {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.navigation__list-item {
  list-style: none;
}

.navigation__link--user {
  min-width: 70px;
  margin-right: 25px;
  margin-left: 20px;

  flex: 1;
}

.navigation__img {
  position: absolute;
  bottom: -1px;
  left: -13px;
}

.navigation__img--chart {
  bottom: 2px;
}

@media screen and (max-width: 640px) {
  .navigation__text {
    display: none;
  }

  .navigation__link--user {
    margin-right: 0;
    min-width: 20px;
  }
}
