.sidebar {
  background-color: #444;
  color: #fff;
  min-height: 100%;
  position: fixed;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.sidebar__link {
  text-decoration: none;
  color: #fff;
  padding-right: 2px;
}

.sidebar__link--startpage {
  margin-top: 12px;
  flex: 10;
}

.sidebar__link--logout {
  flex: 1;
}

.sidebar__link--settings {
  flex: 1;
}
