.new-vacancy-form {
  position: absolute;
  top: -75px;
  box-sizing: border-box;
  min-width: 290px;
  max-width: 750px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  color: #56687b;
  border: 1px solid lightgrey;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0.2, 0.2, 0.2, 0.2);
}

.new-vacancy-form__title {
  margin-bottom: 40px;

  text-align: center;

  font-size: 40px;
}

.new-vacancy-form__options-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.new-vacancy-form__options-block div {
  margin-right: 20px;
}

.new-vacancy-form__options-block div:last-child {
  margin-right: 0px;
}

.new-vacancy-form__checkbox-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 70px;
}

.new-vacancy-form__options-block .ui.selection.dropdown {
  width: 50%;
  margin-right: 0;
}

.new-vacancy-form__options-block .ui.selection.dropdown .menu>.item {

  margin-right: 0;
}

.new-vacancy-form__options-block .ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon {
  top: 30px;
}

.new-vacancy-form__options-block .ui.dropdown .menu .selected.item, .ui.dropdown.selected {
  margin-right: 0;
}

.new-vacancy-form__options-block .ui.dropdown>.text {
  font-size: 20px;
}

.new-vacancy-form__options-block .ui.selection.dropdown {
  border-bottom: 1px solid lightgrey;
  padding-top: 31px;
}

.new-vacancy-form__buttons-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.new-vacancy-form__button {
  max-width: 250px;
  width: 100%;
  height: 40px;
  margin-top: 40px;

  cursor: pointer;

  color: #fff;
  border: 0;
  border-radius: 3px;
  background: #1FCE6D;

  font-size: 12px;
  font-size: 20px;
}

.new-vacancy-form__button--submit {
  background: #1FCE6D;
}

.new-vacancy-form__button--cancel {
  background: lightgrey;
}

@media screen and (max-width: 800px) {
  .new-vacancy-form {
    top: -40px;
    max-width: 680px;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .new-vacancy-form {
    max-width: 500px;
  }
  .new-vacancy-form__options-block {
    flex-direction: column;
  }

  .new-vacancy-form__options-block .ui.selection.dropdown {
    width: 100%;
    max-width: 500px;
  }

  .new-vacancy-form__options-block div {
    margin-right: 0;
  }

  .new-vacancy-form__checkbox-block {
    flex-direction: column;
    margin-bottom: 0;
  }

  .new-vacancy-form__checkbox {
    margin-bottom: 40px;
  }

  .new-vacancy-form__buttons-block {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }

  .new-vacancy-form__button {
    margin-top: 10px;
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (max-width: 530px) {
  .new-vacancy-form {
    max-width: 340px;
  }
}
