.new-vacancy-form {
  position: absolute;
  top: -75px;
  box-sizing: border-box;
  min-width: 290px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 40px;

  color: #56687b;

  background-color: #fff;
}

.new-vacancy-form__title {
  margin-bottom: 40px;

  text-align: center;

  font-size: 40px;
}

.new-vacancy-form__options-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.new-vacancy-form__options-block div {
  margin-right: 20px;
}

.new-vacancy-form__options-block div:last-child {
  margin-right: 0px;
}

.new-vacancy-form__checkbox-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 70px;
}

.new-vacancy-form__buttons-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.new-vacancy-form__button {
  max-width: 250px;
  width: 100%;
  height: 40px;
  margin-top: 40px;

  cursor: pointer;

  color: #fff;
  border: 0;
  border-radius: 3px;
  background: #1FCE6D;

  font-size: 12px;
  font-size: 20px;
}

.new-vacancy-form__button--submit {
  background: #1FCE6D;
}

.new-vacancy-form__button--cancel {
  background: lightgrey;
}
